<div ng-controller="navController">
            <a href="/" ng-class="{active: isActive('/')}"><p>News</p></a>
            <a href="/games" ng-class="{active: isActive('/games')}"><p>Games</p></a>
            <a href="/about" ng-class="{active: isActive('/about')}"><p>About</p></a>
            <h2>Welcome, <span id="display-name"></span>!</h2>
            <a href="/logout"><p>Logout</p></a>
</div>
<h1>About page</h1>