<style>
            li{
                display: inline;
            }
</style>

<div>
    <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/about">About</a></li>
        <img src="/static/img/avatars/<%= avatar%>" alt="fuck">
        <li><%= displayName%></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/delete">Delete</a></li>
    </ul>
</div>