<div ng-controller="navController">
    <ul>
        <li><a href="/" ng-class="{active: isActive('/')}">News</a></li>
        <li><a href="/games" ng-class="{active: isActive('/games')}">Games</a></li>
        <li><a href="/about" ng-class="{active: isActive('/about')}">About</a></li>
        <li>Welcome, <span id="display-name">{{customer.displayName}}</span>!</li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/delete">Delete</a></li>
    </ul>
</div>
<h1>News page</h1>