<!DOCTYPE html>
<html>
    <head>
        <title>Diploma project</title>
        <style>
            li{
                display: inline;
            }
        </style>
    </head>
    <body>
<% include partials/navbar%>
<h1>About page</h1>
    </body>
</html>